{% extends "base.html" %}

{% block scripts %}
<script>
	document.body.addEventListener('htmx:afterSwap', function(evt) {		
		if (evt.detail.target.id === 'number-list') {
					let list = document.getElementById('number-list');
					if (list.children.length > 10) {
							list.removeChild(list.children[list.children.length - 1]);
					}
			}
	});

	document.getElementById('number-list').addEventListener('htmx:afterSwap', function(event) {
    const newElement = event.detail.target.firstElementChild; // Target the new element added
    if (newElement) {
        newElement.classList.add('new-item');
        setTimeout(() => newElement.classList.remove('new-item'), 500); // Adjust timeout to match your CSS transition duration
    }
	});
</script>
{% endblock %}

{% block content %}
<div id="codes-list" class="center-container">
	<h1>Script number reservation</h1>
	<div class="buttons">
		<button id="reserve-button" hx-post="/code" hx-target="#number-list" hx-swap="afterbegin" class="styled-btn simple-btn">Make reservation</button>
		{% if is_admin %} <button id="reset-button" hx-post="/code/reset" hx-target="#number-list" hx-swap="outerHTML" hx-confirm="Are you sure?" class="styled-btn simple-btn">Reset count</button> {% endif %}
	</div>
	{% include "section.html" %}
</div>
{% endblock %}