{% extends "base.html" %}

{% block scripts %}

{% endblock %}

{% block content %}
<form id="change-password-form">
	<label for="old_password">Old password</label>
	<input type="password" id="old_password" name="old_password">
	<label for="new_password">New password</label>
	<input type="password" id="new_password" name="new_password">
	<label for="retype_password">Repeat new password</label>
	<input type="password" id="retype_password" name="retype_password">
	<button type="submit" hx-post="/change-password" hx-target="#change-password-form" hx-swap="outerHTML">Login</button>
</form>
{% endblock %}