html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: black;
	color: white;
	font-family: 'Kappa Display', sans-serif;
	/*font-family: 'Kappa Text', sans-serif;*/
}

.container {
	width: 100%;
	height: calc(100vh - 80px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0px;
	padding: 0px;
}

#number-list {
	list-style: none;
	padding: 0px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#number-list li {
	list-style: none;
}

.fade-list {
	position: relative;
	height: 250px; /* Set the desired height */
	overflow: hidden;
	padding: 0;
	margin: 0;
	list-style: none;
}

.fade-list::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	background: linear-gradient(
		to bottom,
		rgba(0, 0, 0, 0) 0%,
		rgba(0, 0, 0, 1) 100%
	);
}

.code {
	padding: 3px;
	text-align: center;
}

#reserve-button {
	margin-bottom: 15px;
}

.code-wrapper {
	display: flex;
	flex-direction: row;	
	color: #7c7c7c;
	justify-content: center;
	align-items: center;
	align-content: center;
	height:20px
}

.code-date {
	font-size: small;
}

.code-code {
	margin-left: 10px;
	margin-right: 10px;
}

.code-code span {
	color:white;
}

nav {
	height: 40px;	
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: #080808;
	padding-left: 20px;
	padding-right: 20px;
}

nav a {
	color: white;
	text-decoration: none;
}

nav #logo {
	font-size: large;	
}

nav #logo {
	color: white;
	text-decoration: none;
}


footer {
	height: 40px;
	margin: 0px;
	padding: 0px;
	display: flex;
	flex-direction: row;
	justify-content: end;
	padding-left: 10px;
	padding-right: 10px;
	align-items: center;
	background-color: #080808;
}

#login-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.logout-link {
	cursor: pointer;
}

