html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: black;
	color: white;
	font-family: 'Kappa Display', sans-serif;
	/*font-family: 'Kappa Text', sans-serif;*/
}

.container {
	width: 100%;
	height: calc(100vh - 80px);
	display: flex;
	flex-direction: column;
	margin: 0px;
	padding: 0px;
}

.center-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;	
	height: 100%;
}

.center-top-container {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;	
	height: 100%;
}

#number-list {
	list-style: none;
	padding: 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#number-list li {
	list-style: none;
}

.fade-list {
	position: relative;
	height: 270px; /* Set the desired height */
	overflow: hidden;
	padding: 0;
	margin: 0;
	list-style: none;
}

.fade-list::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	background: linear-gradient(
		to bottom,
		rgba(0, 0, 0, 0) 30%, /* Start fading at 70% */
		rgba(0, 0, 0, 0.9) 90%, /* Light fog at 85% */
		rgba(0, 0, 0, 1) 100% /* Fully opaque at 100% */
	);
}

.code {
	padding: 3px;
	text-align: center;
}

#reserve-button {
	margin-bottom: 15px;
}

.code-number {
	cursor: pointer;
}

.code-wrapper {
	display: flex;
	flex-direction: row;	
	color: #7c7c7c;
	justify-content: center;
	align-items: center;
	align-content: center;
	height:20px
}

.code-date {
	font-size: small;
}

.code-code {
	margin-left: 10px;
}

.code-code span {
	color:white;
}

nav {
	height: 40px;	
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: #080808;
	padding-left: 20px;
	padding-right: 20px;
}

nav a {
	color: rgba(202, 202, 202, 0.884);
	text-decoration: none;
	margin-left: 1px;
	margin-right: 1px;
}

nav a:hover {
	color:white;
}

nav #logo {
	font-size: large;	
}

nav #logo {
	color: white;
	text-decoration: none;
}


footer {
	height: 40px;
	margin: 0px;
	padding: 0px;
	display: flex;
	flex-direction: row;
	justify-content: end;
	padding-left: 10px;
	padding-right: 10px;
	align-items: center;
	background-color: #080808;
}

#login-form, #change-password-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.logout-link {
	cursor: pointer;
}

nav .links {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
}

.new-item {
	animation: fade-in 0.5s ease-in-out;
}

@keyframes fade-in {
	from {
			opacity: 0;
			transform: translateY(-10px);
	}
	to {
			opacity: 1;
			transform: translateY(0);
	}
}

.error-text {
	color: red;	
}

#user-table td, #user-table th { 
	padding: 8px; 
	padding: .5rem;
}

#user-table th {
  text-align: left;
  font-weight: 300;
  font-size: 20px;
  font-size: 1.25rem;
}

.user-list {  
	margin: 5px;
}

.user-form {  
	margin: 5px;
	display: flex;
	flex-direction: column;
	gap: 7px;
	border-left: 1px solid white;
	padding-left: 10px;
}

#user-table input {  
	padding: 5px;
}

#user-table td.center{  
	text-align: center;
  vertical-align: middle;
}

.user-wrapper {
	display: flex;
	flex-direction: row;		
}