<head>
	<script src="https://unpkg.com/htmx.org@1.9.6"
        integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni"
        crossorigin="anonymous"></script>
	<style>
	 @import url('https://fonts.cdnfonts.com/css/kappa-display');
	</style>
  <link rel="stylesheet" href="assets/main.css">
	<title>Serigen</title>
	{% block head %}{% endblock %}
</head>
<body>
	<nav>
		<div id="logo"><a href="/">Serigen</a></div>
		{% if from_protected %}
		<a class="logout-link" hx-post="/logout"  hx-target="body" hx-push-url="true" >Logout</a>
		{% else %}
		<a href="/login">Login</a>
		{% endif %}
	</nav>
	<main class="container">		
		{% block content %}{% endblock %}
	</main>	
	<footer>
		<div>v{{self.version()}}</div>
	</footer>
	{% block scripts %}{% endblock %}
</body>